<!doctype html>
<html lang="en">
<head>
<meta charset="<% settings.charset %>">
<meta name="viewport" content="width=device-width" />
<title>Simple Album</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap.min.css">
<link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap-fileupload.min.css">
<link rel="stylesheet" href="<% request.uri_base %>/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="<% request.uri_base %>/css/default.css">
<script type="text/javascript" src="<% request.uri_base %>/javascripts/caman.full.min.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/bootstrap-fileupload.min.js"></script>
<script type="text/javascript" src="<% request.uri_base %>/javascripts/default.js"></script>
</head>
<body>
<div id="wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="<% request.uri_base %>">Simple Album</a>
				<div class="nav-collapse collapse">
					<% IF !session.client_auth %>
						<ul class="nav">
							<li class="active">
								<a href="<% request.uri_base %>">Browse</a>
							</li>
							<li class="">
								<a href="<% request.uri_base %>/register">Register</a>
							</li>
						</ul>

						<form action="<% request.uri_base %>/login" method="post" class="navbar-form pull-right">
							<input class="span2" type="text" name="email" placeholder="email">
							<input class="span2" type="password" name="password" placeholder="password">
							<button type="submit" class="btn">Sign in</button>
						</form>
					<% else %>
						<ul class="nav">
							<li class="active">
								<a href="<% request.uri_base %>/home">Album</a>
							</li>
							<li class="">
								<a href="<% request.uri_base %>/home/upload">Upload</a>
							</li>
						</ul>

						<p class="navbar-text pull-right">
							<% session.client_auth.username FILTER ucfirst %>
							<small>(<a href="<% request.uri_base %>/logout">Logout</a>)</small>
						</p>
					<% END %>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<% content %>
		<hr>
		<footer>
			<p>&copy; 2013</p>
		</footer>
	</div>
</div>
</body>
</html>
